@use '../../styles/variables.scss' as v;
@use '../../styles/mixins' as m;

.channel-messages {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: v.$aside-close-default;
  left: calc(20% + #{v.$aside-open-default});
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
  background-color: v.$secondary;
  box-shadow: 2px 0 2px -3px v.$black;
  margin-top: 0;
  z-index: 10;
  border-radius: 5px 0 0 5px;
  transition: right 350ms ease-in-out;

  &.thin {
    right: v.$aside-open-default;

    @include m.bpFactory($max: v.$l) {
      right: 0;
    }
  }

  @include m.bpFactory($max: v.$l) {
    right: 0;
    left: inherit;
    width: 100vw;
    padding-top: v.$header-mobile-height;
  }

  .cm-header {
    padding: 1rem;
    box-shadow: 0 4px 6px -6px v.$black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h4 {
      font-weight: bold;
    }

    & .cmh-button-wrapper {
      display: flex;

      & > * + * {
        margin-left: 0.5rem;
      }
      .cmh-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0.2rem 0.5rem;
        border-radius: 5px;

        &:focus {
          outline: none;
          box-shadow: inset 0 0 0 1px v.$ternary;
        }

        &:hover {
          background-color: rgba(73, 190, 182, 0.3);
          border-radius: 5px;
        }

        .cmhb-add-user-icon {
          color: v.$ternary;
        }

        .cmhb-cross-icon {
          color: v.$black;
        }
      }
    }
  }

  .cm-content-wrapper {
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr max-content;
    row-gap: 1.5rem;

    .cmcw-ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & > * {
        width: 100%;
      }
    }

    .cmcw-form {
      display: flex;
      flex-direction: column;
      background-color: v.$primary;
      border-radius: 5px;
      overflow: hidden;

      & .cmcwf-footer {
        border-top: 1px solid v.$secondary;
        display: grid;
        grid-template-rows: 1fr;

        & .cmcwff-send-button {
          border: none;
          padding: 0.3rem 0.7rem;
          width: max-content;
          justify-self: end;
          cursor: pointer;

          background-color: v.$ternary;
          color: v.$primary;
          font-weight: bold;

          & .cmcwff-send-icon {
            color: v.$primary;
          }
        }
      }
    }
  }
}
