// colors
$primary: #f6f5f5;
$secondary: #e0e0e0;
$ternary: #49beb7;
$ternary-hover: #cbf3f0;
$quaternary: #facf5a;
$black: #141414e6;
$accent: #ff5959;

// BreakPoints
$xs: 460px;
$s: 760px;
$m: 980px;
$l: 1200px;
$xl: 1920px;

// FONTS
$p-regular-size: 1rem;
$p-s: 0.9rem;
$p-xs: 0.8rem;

// Header mobile height
$header-mobile-height: 60px;

// Special variables
$aside-open-default: 350px;
$aside-close-default: 100px;
$aside-s: 250px;
$aside-m: 300px;
