@use '../../styles/variables.scss' as v;
@use '../../styles/mixins' as m;

.left-aside {
  position:relative;
  min-height: 100vh;
  width: 100px;
  background-color: v.$secondary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition : width 350ms ease-in-out;

  @include m.bpFactory($max: v.$s) {
    max-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    transform: translateX(0%);
    transition: transform 350ms ease-in-out;
  }

  &.left-aside-visible {
    width: 350px;

    @include m.bpFactory($max: v.$s) {
      width: 80%;
      transform: translateX(-100%);
    }
  }

  .la-arrow-right{
    position:absolute;
    top:20px;
    right:10px;
    transition: transform 500ms ease-in-out;

    @include m.bpFactory($max: v.$s) {
      right: -20px;
        transform: rotate(180deg);
    }
    
    &.rotate-left{
      transform: rotate(180deg);

      @include m.bpFactory($max: v.$s) {
        transform: rotate(0deg);
      }
    }
  }
}