/* ************************** */
/* ************************** */
/* *** UpdateUserFormCpnt *** */
/* ************************** */
/* ************************** */

@use '../../styles/variables.scss' as v;
@use '../../styles/mixins' as m;

.update-user-form {
  box-sizing: border-box;
  width: min-content;
  background-color: v.$ternary;
  padding: 40px 30px;
  width: 700px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 8px #cfd6d5;

  @include m.bpFactory($max: v.$s) {
    width: 100%;
    padding: 0px 50px;
    min-height: 100vh;
    font-size: v.$p-s;
  }

  @include m.bpFactory($max: v.$xs) {
    padding: 30px 20px;
    font-size: v.$p-xs;
  }

  .uuf-title {
    text-align: center;
  }

  .uuf-names-fieldset,
  .uuf-details-fieldset,
  .uuf-passwords-fieldset {
    border: none;

    .uuf-wrapper-input {
      display: flex;
      flex-direction: column;
      margin: 20px 0;

      @include m.bpFactory($max: v.$xs) {
        margin: 10px 0;
      }

      .uuf-label {
        margin: 0 0 5px 15px;
      }
      .uuf-input {
        padding: 10px;
        border: none;
        border-radius: 30px;

        @include m.bpFactory($max: v.$xs) {
          padding: 5px;
        }
      }

      .form-error {
        font-size: 0.8rem;
        color: v.$accent;
        margin: 3px 0 0 15px;
      }
    }
  }

  .uuf-names-fieldset {
    display: flex;
    justify-content: space-evenly;

    @include m.bpFactory($max: v.$s) {
      flex-direction: column;
    }

    .uufnm-firstname {
    }

    .uufnm-lastname {
    }
  }

  .uuf-details-fieldset {
    .uufdf-email {
    }

    .uufdf-phone {
    }

    .uufdf-address {
    }
  }

  .uuf-passwords-fieldset {
    .uufpf-password {
    }

    .uufpf-verify-password {
    }
  }

  .uuf-submit {
    padding: 8px 35px;
    align-self: center;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;

    @include m.bpFactory($max: v.$s) {
      font-size: v.$p-s;
    }

    @include m.bpFactory($max: v.$xs) {
      font-size: v.$p-xs;
    }

    &:hover {
      background-color: v.$ternary-hover;
    }
  }
}
