.main-ctrn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-aside {
  position: relative;
  min-height: 100vh;
  width: 100px;
  background-color: #E0E0E0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 350ms ease-in-out;
}
@media only screen and (max-width: 760px) {
  .left-aside {
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
  }
}
.left-aside.visible {
  width: 350px;
}
@media only screen and (max-width: 760px) {
  .left-aside.visible {
    width: 80%;
    transform: translateX(-100%);
  }
}
.left-aside .la-arrow-right {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
  transition: transform 500ms ease-in-out;
}
@media only screen and (max-width: 760px) {
  .left-aside .la-arrow-right {
    right: -20px;
    transform: rotate(180deg);
  }
}
.left-aside .la-arrow-right.rotate-left {
  transform: rotate(180deg);
}
@media only screen and (max-width: 760px) {
  .left-aside .la-arrow-right.rotate-left {
    transform: rotate(0deg);
  }
}

.right-aside {
  position: relative;
  min-height: 100vh;
  width: 100px;
  padding: 1rem;
  background-color: #E0E0E0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 350ms ease-in-out;
}
@media only screen and (max-width: 760px) {
  .right-aside {
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 100%;
    width: 80%;
  }
}
.right-aside.ra-visible {
  width: 350px;
}
@media only screen and (max-width: 760px) {
  .right-aside.ra-visible {
    width: 80%;
    transform: translateX(-100%);
  }
}
.right-aside .ra-title {
  color: #141414;
  font-weight: bold;
}
.right-aside .ra-title.ra-title-mini {
  padding-left: 1rem;
}
.right-aside .ra-arrow-left {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 10px;
  transition: transform 500ms ease-in-out;
}
@media only screen and (max-width: 760px) {
  .right-aside .ra-arrow-left {
    left: -20px;
    transform: rotate(0deg);
  }
}
.right-aside .ra-arrow-left.rotate-right {
  transform: rotate(-180deg);
}
@media only screen and (max-width: 760px) {
  .right-aside .ra-arrow-left.rotate-right {
    transform: rotate(-180deg);
  }
}

.channels-ctnr {
  margin: 1rem 0rem;
  width: 100%;
}

.avatar {
  width: 100%;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.avatar .a-image {
  width: 150px;
  height: 150px;
  border: 5px solid #49BEB7;
  border-radius: 50%;
  transition: width 350ms ease-in-out, height 350ms ease-in-out, margin 350ms ease-in-out;
}
.avatar .a-image.a-image-small {
  width: 75px;
  height: 75px;
  margin: 40px 0;
}
.avatar .a-name {
  color: #141414;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.avatar .a-name.hide-name {
  display: none;
}

.menu {
  width: 100%;
  padding: 50px 0;
}
.menu .m-oblic-left,
.menu .m-oblic-right {
  background-color: #49BEB7;
  height: 75px;
  width: 100%;
}
@media only screen and (max-width: 1920px) {
  .menu .m-oblic-left,
.menu .m-oblic-right {
    height: 50px;
  }
}
.menu .m-oblic-left {
  clip-path: polygon(0 75%, 100% 0, 100% 100%, 0% 100%);
}
.menu .m-oblic-right {
  clip-path: polygon(0 0, 100% 0, 100% 25%, 0% 100%);
}
.menu .m-item-wrapper {
  background-color: #49BEB7;
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
  padding: 20px 0;
}
@media only screen and (max-width: 1920px) {
  .menu .m-item-wrapper {
    padding: 10px 0;
  }
}
.menu .m-item-wrapper .miw-item:first-child {
  border-top: 1px solid #E0E0E0;
}
.menu .m-item-wrapper .miw-item {
  padding: 15px;
  font-size: 1.2rem;
  color: #141414;
  border-bottom: 1px solid #E0E0E0;
  transition: background-color 250ms ease-in-out, color 350ms ease-in-out;
}
.menu .m-item-wrapper .miw-item:hover {
  background-color: #E0E0E0;
  color: #49BEB7;
}

.btn-wrapper {
  display: flex;
  justify-content: space-around;
  color: #141414;
}
.btn-wrapper.btn-wrapper-column {
  flex-direction: column;
  font-size: 0.5rem;
}
.btn-wrapper .menu-btn {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 20px;
}

.channels-list {
  margin: 1rem 0rem;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cl-wrapper-title-icon {
  cursor: pointer;
  display: flex;
  padding: 0 0.5rem;
}

.cl-caret-icon {
  transform: rotate(0deg);
  transition: all 300ms ease-in-out;
  padding: 0 0.5rem;
}
.cl-caret-icon:hover {
  background-color: rgba(73, 190, 182, 0.3);
  border-radius: 5px;
}
.cl-caret-icon.cl-caret-icon-open {
  transform: rotate(90deg);
}

.cl-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cl-ul-hidden {
  display: none;
}

.cl-title-icon {
  padding: 0 0.5rem;
  color: #49BEB7;
}

.channels-list-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chat-searchbar-wrapper {
  margin-top: 2rem;
  width: 100%;
}
.chat-searchbar-wrapper > div {
  width: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
