@use './styles/variables' as v;
@forward './styles/variables';

// Views


// Containers
@use './containers/MainCtnr.scss';
@use './containers/left-aside-ctnr/LeftAsideCtnr.scss';
@use './containers/right-aside-ctnr/RightAsideCtnr.scss';

// Components
@use './components/avatar-cpnt/AvatarCpnt.scss';
@use './components/menu-cpnt/MenuCpnt.scss';
@use './components/menu-button-cpnt/MenuButtonCpnt.scss';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}