/* ************************** */
/* ************************** */
/* ***** SignInFormCpnt ***** */
/* ************************** */
/* ************************** */

@use '../../styles/variables.scss' as v;
@use '../../styles/mixins' as m;

.sign-up-form {
  box-sizing: border-box;
  width: min-content;
  background-color: v.$ternary;
  padding: 40px 30px;
  width: 700px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 8px #cfd6d5;
  color: v.$black;

  @include m.bpFactory($max: v.$s) {
    width: 100%;
    padding: 0px 50px;
    min-height: 100vh;
    font-size: v.$p-s;
  }

  @include m.bpFactory($max: v.$xs) {
    padding: 30px 20px;
    font-size: v.$p-xs;
  }

  .sif-title {
    text-align: center;
    margin-bottom: 1rem;
  }

  .sif-names-fieldset,
  .sif-details-fieldset,
  .sif-passwords-fieldset {
    border: none;

    .sif-wrapper-input {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;

      @include m.bpFactory($max: v.$xs) {
        margin: 10px 0;
      }

      .sif-label {
        margin-bottom: 10px;
      }
      .sif-input {
        padding: 10px;
        border: none;
        border-radius: 5px;

        @include m.bpFactory($max: v.$xs) {
          padding: 5px;
        }
      }

      .form-error {
        font-size: 0.8rem;
        font-style: italic;
        color: v.$accent;
        margin-top: 5px;
      }
    }
  }

  .sif-submit {
    margin-top: 1.5rem;
    padding: 8px 35px;
    align-self: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;

    @include m.bpFactory($max: v.$s) {
      font-size: v.$p-s;
    }

    @include m.bpFactory($max: v.$xs) {
      font-size: v.$p-xs;
    }

    &:hover {
      background-color: v.$ternary-hover;
    }
  }
}
