@use '../styles/variables.scss' as v;
@use '../styles/mixins' as m;

.main-ctrn {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;

  @include m.bpFactory($max: v.$l) {
    grid-template-columns: inherit;
  }
}
