/* ************************** */
/* ************************** */
/* ***** CalendarFormCpnt *** */
/* ************************** */
/* ************************** */

@use '../../styles/variables.scss' as v;
@use '../../styles/mixins' as m;

.calendar-form {
  box-sizing: border-box;
  min-width: 320px;
  background-color: v.$ternary;
  color: v.$black;
  padding: 0 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms ease-in-out 250ms,
    padding 400ms ease-in-out 250ms;

  &.form-active {
    padding: 40px 30px;
    max-height: 800px;
  }

  .cf-title {
    text-align: center;
    margin: 0 0 25px 0;
  }

  .cf-input-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;

    .cfic-input,
    .cficbc-input {
      padding: 10px;
      margin: 3px 0;
      border: none;
      border-radius: 5px;
    }

    .cfic-box {
      .cficb-box-child {
        display: flex;
        justify-content: space-between;

        @include m.bpFactory($min: v.$s) {
          justify-content: flex-start;

          & > * + * {
            margin-left: 20px;
          }
        }
      }
    }
  }
  .checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    .cfic-checkbox {
      margin: 0 20px 0 0;
      width: 25px;
      height: 25px;
    }
  }

  .cfic-submit {
    margin-top: 20px;
    padding: 8px 35px;
    align-self: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
      background-color: v.$ternary-hover;
    }
  }
}
