/* ************************** */
/* ************************** */
/* ***** CALENDAR CTNR ****** */
/* ************************** */
/* ************************** */

@use '../../styles/variables.scss'as v;
@use '../../styles/mixins' as m;

.calendar-section {
  width: 80%;
  margin-top: 100px;
  background-color: rgba(v.$secondary, 0.2);

  @include m.bpFactory($max: v.$l) {
    width: 90%;
    margin-top: 0;
  }

  .fc {
    height: 800px;
    color: v.$black;

    @include m.bpFactory($max: v.$l) {
      height: 550px;
    }

    .fc-toolbar-chunk {
      .fc-button {
        background-color: v.$ternary;
        border: none;

        &:hover {
          background-color: v.$ternary-hover;
          color: v.$ternary;
        }
      }

      .fc-button-active {
        background-color: v.$quaternary !important;
        color: v.$black !important;
        // border: 2px solid rgba(v.$black, 0.7) !important;

        // &:hover {
        //   background-color: v.$ternary-hover !important;
        //   color: v.$ternary !important;
        // }
      }

      @include m.bpFactory($max: v.$l) {
        font-size: 0.8rem;
      }

      h2 {
        @include m.bpFactory($max: v.$l) {
          font-size: 0.9rem;
        }
      }
    }
  }

  .fc-scrollgrid-sync-table {
    .fc-day-today {
      background-color: v.$ternary-hover !important;
    }
  }
}
