.channels-list {
  margin: 1rem 0rem;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.cl-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
