@use '../../styles/variables.scss' as v;
@use '../../styles/mixins' as m;

.MuiDialogTitle-root {
  border-bottom: 2px solid v.$ternary;
}

.MuiDialogActions-root {
  padding: 16px 8px !important;
}

.add-user-to-channel-form {
  padding: 20px 0;
  min-width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @include m.bpFactory($max: v.$s) {
    font-size: v.$p-s;
  }

  @include m.bpFactory($max: v.$xs) {
    font-size: v.$p-xs;
  }

  .aucf-fieldset {
    border: none;

    .aucf-wrapper-input {
      display: flex;
      flex-direction: column;

      & > * + * {
        margin-top: 0.5rem;
      }
    }

    .aucf-error {
      font-size: v.$p-s;
      color: red;
      font-style: italic;
      line-height: 20px;

      @include m.bpFactory($max: v.$s) {
        font-size: v.$p-xs;
      }
    }
  }
}

.aucf-button {
  padding: 6px 20px;
  align-self: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;

  @include m.bpFactory($max: v.$s) {
    font-size: v.$p-s;
  }

  @include m.bpFactory($max: v.$xs) {
    font-size: v.$p-xs;
  }

  &:hover {
    background-color: v.$ternary-hover;
  }

  &:focus {
    outline: none;
    border: 1.5px solid v.$ternary;
  }
}
